@model IEnumerable<Ing_Soft.Models.Proveedor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="carteles-admin">Proveedores</h2>

<p style="text-align: center;">
    <a asp-action="Create">Create New</a>
</p>

<div class="contenedor-tabla-general">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID_Proveedor">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID_Proveedor">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID_Proveedor">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>