@model IEnumerable<Ing_Soft.Models.Factura>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="carteles-admin">Facturas</h2>

<p style="text-align: center;">
    <a asp-action="Create">Create New</a>
</p>

<div class="contenedor-tabla-general">
    <table class="table-controladores">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID_Factura)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ID_Cliente)
                </th>
                <th>
                    Cliente
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    Forma de Pago
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Factura)
                </td>
                <td>
                    <!-- Html.DisplayFor(modelItem => item.Fecha) --> 
                    @item.Fecha?.ToString("dd/MM/yyyy  HH:mm:ss")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Cliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_ClienteNavigation.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @(item.ID_FormaPagoNavigation != null ? item.ID_FormaPagoNavigation.Descripcion : "")
                </td>
                <td>
                        <a asp-action="VerDetalleFactura" asp-route-id="@item.ID_Factura" class="btn btn-dark btn-sm">Ver Detalle</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>