@model Ing_Soft.Models.Producto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";    
}
<div class="subtitulo-seccion">
    <h4>Producto</h4>
</div>


<div class="contenido-delete-details-vista-admin">
  
    <hr />
    <dl class="col">
        <dt class = "col">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col">
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>
        <dd class = "col">
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>
        <dt class = "col">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class = "col">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col">
            @Html.DisplayNameFor(model => model.ImagenUrl)
        </dt>
        <dd class = "col">
            @Html.DisplayFor(model => model.ImagenUrl)
        </dd>
        <dd class = "col">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_Producto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
