@model IEnumerable<Ing_Soft.Models.Cliente>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="carteles-admin">Clientes</h2>

<div class="caja-boton-crear">
    
</div>


<div class="contenedor-tabla-general">
    <table class="table-controladores">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID_Cliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    Teléfono
                </th>
                <th>
                    Dirección
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Cliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    <button class="boton-vuelta">
                        <a asp-action="Edit" asp-route-id="@item.ID_Cliente">Editar</a> 
                    </button>
                    
                    <button class="boton-vuelta">
                        <a asp-action="Delete" asp-route-id="@item.ID_Cliente">Dar de baja</a>
                    </button>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
