@model Ing_Soft.Models.OrdenCompra

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="subtitulo-seccion">
    <h3>Estas seguro de querer eliminar esto?</h3>
</div>

<div class="subtitulo-delete-details">
    <h4>OrdenCompra</h4>
</div>

<div class="contenido-delete-details-vista-admin"> 
    <hr />
    <dl class="col">
        <dt class = "col">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col">
            @Html.DisplayNameFor(model => model.ID_Proveedor)
        </dt>
        <dd class = "col">
            @Html.DisplayFor(model => model.ID_Proveedor)
        </dd>
        <dt class = "col">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
    <hr />
</div>

<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID_OrdenCompra" />
        <div class="boton-delete">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
        
        <div class="caja-boton-vuelta">
            <button class="boton-vuelta"> 
                <a asp-action="Index">Back to List</a>
            </button>
        </div>
    </form>
</div>

