@model Ing_Soft.Models.OrdenCompra

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- esta pagina no se ve-->

<div class="subtitulo-delete-details">
   <h4>OrdenCompra</h4>
</div>

<div class="contenido-delete-details-vista-admin">
 
    <hr />
    <dl class="col">
        <dt class = "col">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col">
            @Model.Fecha?.ToString("dd/MM/yyyy  HH:mm:ss")
        </dd>
        <dt class = "col">
            @Html.DisplayNameFor(model => model.ID_Proveedor)
        </dt>
        <dd class = "col">
            @Html.DisplayFor(model => model.ID_Proveedor)
        </dd>
        <dt class = "col">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_OrdenCompra">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
