@model IEnumerable<Ing_Soft.Models.OrdenCompra>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h2 class="carteles-admin">Ordenes de Compra</h2>

<div class="caja-boton-crear">
    
</div>
    


<div class="contenedor-tabla-general">
    <table class="table-controladores">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID_OrdenCompra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ID_Proveedor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_OrdenCompra)
                </td>
                <td>
                    <!-- Html.DisplayFor(modelItem => item.Fecha) --> 
                    @item.Fecha?.ToString("dd/MM/yyyy  HH:mm:ss")
                </td>
                <td>
                    @(item.ID_ProveedorNavigation != null ? item.ID_ProveedorNavigation.Nombre : "")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    <button class="boton-vuelta">
                        <a asp-action="Edit" asp-route-id="@item.ID_OrdenCompra">Editar</a>
                    </button>
                    
                    <button class="boton-vuelta">
                        <a asp-action="VerDetalleOrdenCompra" asp-route-id="@item.ID_OrdenCompra">Ver detalles</a>
                    </button>
                    
                    <button class="boton-vuelta">
                        <a asp-action="Delete" asp-route-id="@item.ID_OrdenCompra">Dar de baja</a>
                    </button>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>