@model Ing_Soft.Models.Cobranza

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="subtitulo-seccion">
    <h4>Cobranza</h4>
</div>

<div class="contenido-delete-details-vista-admin">
    <hr />
    <dl class="col">
        <dt class = "col">
            @Html.DisplayNameFor(model => model.ID_Factura)
        </dt>
        <dd class = "col">
            @Html.DisplayFor(model => model.ID_Factura)
        </dd>
        <dt class = "col">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col">
            @Model.Fecha?.ToString("dd/MM/yyyy  HH:mm:ss")
        </dd>
        <dt class = "col">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class = "col">
            @Html.DisplayNameFor(model => model.ID_FormaPago)
        </dt>
        <dd class = "col">
            @Html.DisplayFor(model => model.ID_FormaPago)
        </dd>
    </dl>
</div>

<div>
        <div class="boton-edit">
            <button class="btn btn-primary">
                <a asp-action="Edit" asp-route-id="@Model?.ID_Cobranza">Edit</a> 
            </button>
        </div>
    
    <div class="caja-boton-vuelta">
        <button class="boton-vuelta">
            <a asp-action="Index">Back to List</a>
        </button>
    </div>
</div>
