@model Ing_Soft.Models.Cobranza

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Cobranza</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Factura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_Factura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Model.Fecha?.ToString("dd/MM/yyyy  HH:mm:ss")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_FormaPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_FormaPago)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_Cobranza">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
