@model IEnumerable<Ing_Soft.Models.Cobranza>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="carteles-admin">Cobranzas</h2>

<div class="caja-boton-crear">
    <button class="boton-crear">
        <a asp-action="Create">Create New</a>
    </button>
</div>

<div class="contenedor-tabla-general">
    <table class="table-controladores">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID_Factura)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Monto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ID_FormaPago)
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Factura)
                </td>
                <td>
                    <!-- Html.DisplayFor(modelItem => item.Fecha) --> 
                    @item.Fecha?.ToString("dd/MM/yyyy  HH:mm:ss")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monto)
                </td>
                <td>
                    @(item.ID_FormaPagoNavigation != null ? item.ID_FormaPagoNavigation.Descripcion : "")
                </td>
                <td>
                    <button class="boton-vuelta">
                        <a asp-action="Edit" asp-route-id="@item.ID_Cobranza">Edit</a> 
                    </button>
                    
                    <button class="boton-vuelta">
                        <a asp-action="Delete" asp-route-id="@item.ID_Cobranza">Delete</a>
                    </button>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>